<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace可以理解成虚拟文件夹-->
<mapper namespace="org.lanqiao.dao.IUserDao">
    <!--resultType:返回值类型-->
    <!--parameterType:传入参数的类型-->

    <!--开启二级缓存-->
    <cache/>
    <!--查询所有用户-->
    <select id="getAllUser" resultType="org.lanqiao.bean.User">
        select * from user
    </select>
    <!--根据条件查询用户-->
    <!--只要if语句成立，就加上if里面的sql-->
    <select id="getUserByCondition" parameterType="org.lanqiao.bean.User" resultType="org.lanqiao.bean.User">
        select * from user where 1=1
        <if test="userName!=null &amp;&amp;!&quot;&quot;.equals(userName)">
            and user_name like  concat('%',#{userName},'%')
        </if>
        <if test="userId!=null &amp;&amp; userId>0">
            and user_id=#{userId}
        </if>
        <if test="userSex!=null &amp;&amp;userSex>=0">
            and user_sex=#{userSex}
        </if>
    </select>
    <!--根据条件查询用户-->
    <!--只要成立一个条件，就执行sql，不在管其他条件-->
    <select id="findUserByConditions" parameterType="org.lanqiao.bean.User" resultType="org.lanqiao.bean.User">
        select *from user where 1=1
       <choose>
           <when test="userName!=null &amp;&amp;!&quot;&quot;.equals(userName)">
               and user_name like concat('%',#{userName},'%')
           </when>
           <when test="userSex != null &amp;&amp; userSex>=0">
               and user_sex=#{userSex}
           </when>
           <otherwise>

           </otherwise>
       </choose>
    </select>
    <!--根据条件更新用户-->
    <update id="upUser" parameterType="org.lanqiao.bean.User" >
        update user
        <set>
            <if test="userName!=null &amp;&amp;!&quot;&quot;.equals(userName)">
                 user_name =#{userName},
            </if>
            <if test="userPassword!=null &amp;&amp;!&quot;&quot;.equals(userPassword)">
                 user_password=#{userPassword},
            </if>
            <if test="userSex!=null &amp;&amp;userSex>=0">
                user_sex=#{userSex},
            </if>
        </set>
        where user_id=#{userId}
    </update>
    <!--根据多个用户id查询信息-->
    <select id="getUserIn" resultType="org.lanqiao.bean.User">
        select *from user where user_id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=" )">
            #{item}
        </foreach>
    </select>
    <!--根据单个用户的id查询信息-->
    <select id="getUserById" resultType="org.lanqiao.bean.User" parameterType="int">
        select *from user where user_id=#{userId}
    </select>
    <!--根据id删除某个用户信息-->
    <select id="delUser" parameterType="org.lanqiao.bean.User">
        
    </select>
</mapper>